@font-face {
  font-family: AvenirLT-Medium;
  src: url(../fonts/avenir/2CE699_0_0.eot);
  src: url(../fonts/avenir/2CE699_0_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_0_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_0_0.woff) format("woff"), url(../fonts/avenir/2CE699_0_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Roman;
  src: url(../fonts/avenir/2CE699_1_0.eot);
  src: url(../fonts/avenir/2CE699_1_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_1_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_1_0.woff) format("woff"), url(../fonts/avenir/2CE699_1_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-MediumOblique;
  src: url(../fonts/avenir/2CE699_2_0.eot);
  src: url(../fonts/avenir/2CE699_2_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_2_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_2_0.woff) format("woff"), url(../fonts/avenir/2CE699_2_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-BookOblique;
  src: url(../fonts/avenir/2CE699_3_0.eot);
  src: url(../fonts/avenir/2CE699_3_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_3_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_3_0.woff) format("woff"), url(../fonts/avenir/2CE699_3_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Black;
  src: url(../fonts/avenir/2CE699_4_0.eot);
  src: url(../fonts/avenir/2CE699_4_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_4_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_4_0.woff) format("woff"), url(../fonts/avenir/2CE699_4_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-HeavyOblique;
  src: url(../fonts/avenir/2CE699_5_0.eot);
  src: url(../fonts/avenir/2CE699_5_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_5_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_5_0.woff) format("woff"), url(../fonts/avenir/2CE699_5_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Book;
  src: url(../fonts/avenir/2CE699_6_0.eot);
  src: url(../fonts/avenir/2CE699_6_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_6_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_6_0.woff) format("woff"), url(../fonts/avenir/2CE699_6_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Light;
  src: url(../fonts/avenir/2CE699_7_0.eot);
  src: url(../fonts/avenir/2CE699_7_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_7_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_7_0.woff) format("woff"), url(../fonts/avenir/2CE699_7_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-BlackOblique;
  src: url(../fonts/avenir/2CE699_8_0.eot);
  src: url(../fonts/avenir/2CE699_8_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_8_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_8_0.woff) format("woff"), url(../fonts/avenir/2CE699_8_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-LightOblique;
  src: url(../fonts/avenir/2CE699_9_0.eot);
  src: url(../fonts/avenir/2CE699_9_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_9_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_9_0.woff) format("woff"), url(../fonts/avenir/2CE699_9_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Oblique;
  src: url(../fonts/avenir/2CE699_A_0.eot);
  src: url(../fonts/avenir/2CE699_A_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_A_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_A_0.woff) format("woff"), url(../fonts/avenir/2CE699_A_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Heavy;
  src: url(../fonts/avenir/2CE699_B_0.eot);
  src: url(../fonts/avenir/2CE699_B_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_B_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_B_0.woff) format("woff"), url(../fonts/avenir/2CE699_B_0.ttf) format("truetype");
}

@font-face {
  font-family: lightcase;
  src: url(../fonts/lightcase/lightcase.eot?55356177);
  src: url(../fonts/lightcase/lightcase.eot?55356177#iefix) format("embedded-opentype"), url(../fonts/lightcase/lightcase.woff?55356177) format("woff"), url(../fonts/lightcase/lightcase.ttf?55356177) format("truetype"), url(../fonts/lightcase/lightcase.svg?55356177#lightcase) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MrsEavesXLSerifOT-Bold;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mrseavesxl/mrseavesxlserb-071211001EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(../fonts/mrseavesxl/mrseavesxlserb-071211001EmigreWebOnly.woff) format("woff");
}

@font-face {
  font-family: MrsEavesXLSerif;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mrseavesxl/mrseavesxlserr-071211001EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(../fonts/mrseavesxl/mrseavesxlserr-071211001EmigreWebOnly.woff) format("woff");
}

@font-face {
  font-family: MrsEavesXLSerifOT-Italic;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mrseavesxl/mrseavesxlserri-071211005EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(../fonts/mrseavesxl/mrseavesxlserri-071211005EmigreWebOnly.woff) format("woff");
}

@font-face {
  font-family: MrsEavesXLSerifOT-BoldItalic;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mrseavesxl/mrseavesxlserbi-071211005EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(../fonts/mrseavesxl/mrseavesxlserbi-071211005EmigreWebOnly.woff) format("woff");
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes navOpen {
  from {
    right: -400px;
  }
  to {
    right: 0;
  }
}

/* Standard syntax */
@keyframes navOpen {
  from {
    right: -400px;
  }
  to {
    right: 0;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes navClose {
  from {
    right: 0;
  }
  to {
    right: -400px;
  }
}

/* Standard syntax */
@keyframes navClose {
  from {
    right: 0;
  }
  to {
    right: -400px;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Mrs Eaves OT Roman', serif !important;
}

.main-page {
  min-height: 300px;
}

.tile {
  text-align: center;
  margin: 1rem 0;
}

.p-section {
  padding: 100px 0;
}

.p-section-medium {
  padding: 60px 0;
}

.section-title {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.1em;
}

.bg-light {
  background: #F6F6F1 !important;
}

.fogo-MrsEaves {
  font-family: MrsEavesXLSerif, serif !important;
}

.fogo-artigo {
  color: #ffffff;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}


.evento-privativo{

    font-family: MrsEavesXLSerif, serif !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #877a4f;
    background-color: #fff;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: MrsEavesXLSerif, serif !important;
    color: #877a4f;
  
}


.form-group input{
  
  font-size: 1rem;
  line-height: 1.5;
  color: #877a4f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-family: MrsEavesXLSerifOT-Bold, serif !important;

}

#evento-privado fogo-form form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #877a4f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-family: MrsEavesXLSerif, serif !important;
}







.fogo-artigo h2 {
  font-family: AvenirLT-Medium, sans-serif;
}

.fogo-artigo p {
  tex-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 40px 0;
  font-family: AvenirLT-Book, sans-serif;
}

.fogo-artigo.fogo-artigo-black {
  color: #000000;
}

@media screen and (min-width: 769px) {
  .desktop {
    display: block !important;
  }
  .mobile {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}

.darkgold-title {
	font-family: AvenirLT-Book,sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-size: 1.5rem;
	color: #877a4f !important;
	margin-bottom: 0;
	padding-bottom: 0
}
.text-avenirbook {
	font-family: AvenirLT-Book,sans-serif !important;
	font-weight: 500;
}
.text-darkgold {
	color: #877a4f !important;
}