@font-face {
  font-family: AvenirLT-Medium;
  src: url(../fonts/avenir/2CE699_0_0.eot);
  src: url(../fonts/avenir/2CE699_0_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_0_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_0_0.woff) format("woff"), url(../fonts/avenir/2CE699_0_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Roman;
  src: url(../fonts/avenir/2CE699_1_0.eot);
  src: url(../fonts/avenir/2CE699_1_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_1_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_1_0.woff) format("woff"), url(../fonts/avenir/2CE699_1_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-MediumOblique;
  src: url(../fonts/avenir/2CE699_2_0.eot);
  src: url(../fonts/avenir/2CE699_2_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_2_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_2_0.woff) format("woff"), url(../fonts/avenir/2CE699_2_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-BookOblique;
  src: url(../fonts/avenir/2CE699_3_0.eot);
  src: url(../fonts/avenir/2CE699_3_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_3_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_3_0.woff) format("woff"), url(../fonts/avenir/2CE699_3_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Black;
  src: url(../fonts/avenir/2CE699_4_0.eot);
  src: url(../fonts/avenir/2CE699_4_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_4_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_4_0.woff) format("woff"), url(../fonts/avenir/2CE699_4_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-HeavyOblique;
  src: url(../fonts/avenir/2CE699_5_0.eot);
  src: url(../fonts/avenir/2CE699_5_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_5_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_5_0.woff) format("woff"), url(../fonts/avenir/2CE699_5_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Book;
  src: url(../fonts/avenir/2CE699_6_0.eot);
  src: url(../fonts/avenir/2CE699_6_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_6_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_6_0.woff) format("woff"), url(../fonts/avenir/2CE699_6_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Light;
  src: url(../fonts/avenir/2CE699_7_0.eot);
  src: url(../fonts/avenir/2CE699_7_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_7_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_7_0.woff) format("woff"), url(../fonts/avenir/2CE699_7_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-BlackOblique;
  src: url(../fonts/avenir/2CE699_8_0.eot);
  src: url(../fonts/avenir/2CE699_8_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_8_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_8_0.woff) format("woff"), url(../fonts/avenir/2CE699_8_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-LightOblique;
  src: url(../fonts/avenir/2CE699_9_0.eot);
  src: url(../fonts/avenir/2CE699_9_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_9_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_9_0.woff) format("woff"), url(../fonts/avenir/2CE699_9_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Oblique;
  src: url(../fonts/avenir/2CE699_A_0.eot);
  src: url(../fonts/avenir/2CE699_A_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_A_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_A_0.woff) format("woff"), url(../fonts/avenir/2CE699_A_0.ttf) format("truetype");
}

@font-face {
  font-family: AvenirLT-Heavy;
  src: url(../fonts/avenir/2CE699_B_0.eot);
  src: url(../fonts/avenir/2CE699_B_0.eot?#iefix) format("embedded-opentype"), url(../fonts/avenir/2CE699_B_0.woff2) format("woff2"), url(../fonts/avenir/2CE699_B_0.woff) format("woff"), url(../fonts/avenir/2CE699_B_0.ttf) format("truetype");
}

@font-face {
  font-family: lightcase;
  src: url(../fonts/lightcase/lightcase.eot?55356177);
  src: url(../fonts/lightcase/lightcase.eot?55356177#iefix) format("embedded-opentype"), url(../fonts/lightcase/lightcase.woff?55356177) format("woff"), url(../fonts/lightcase/lightcase.ttf?55356177) format("truetype"), url(../fonts/lightcase/lightcase.svg?55356177#lightcase) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MrsEavesXLSerifOT-Bold;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mrseavesxl/mrseavesxlserb-071211001EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(../fonts/mrseavesxl/mrseavesxlserb-071211001EmigreWebOnly.woff) format("woff");
}

@font-face {
  font-family: MrsEavesXLSerif;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mrseavesxl/mrseavesxlserr-071211001EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(../fonts/mrseavesxl/mrseavesxlserr-071211001EmigreWebOnly.woff) format("woff");
}

@font-face {
  font-family: MrsEavesXLSerifOT-Italic;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mrseavesxl/mrseavesxlserri-071211005EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(../fonts/mrseavesxl/mrseavesxlserri-071211005EmigreWebOnly.woff) format("woff");
}

@font-face {
  font-family: MrsEavesXLSerifOT-BoldItalic;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mrseavesxl/mrseavesxlserbi-071211005EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(../fonts/mrseavesxl/mrseavesxlserbi-071211005EmigreWebOnly.woff) format("woff");
}

.btn-fdc {
  margin: 0 auto;
  background: #B4A364;
  background-clip: border-box;
  color: #F6F6F1;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  line-height: 54px;
  height: 54px;
  padding: 0 62.91px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgba(180, 163, 101, 0.01);
  box-shadow: 0 0 0 1px #B4A365;
  background-clip: padding-box;
  letter-spacing: .08em;
  -webkit-transition: all .21s;
  transition: all .21s;
  white-space: nowrap;
  font-family: AvenirLT-Heavy, sans-serif;
  font-weight: 400;
}

.btn-fdc:hover {
  color: #F6F6F1 !important;
  border: none !important;
  text-decoration: none !important;
}

.btn-fdc.btn-fdc-dark {
  background: #1a1a19;
  border: 2px solid #F6F6F1;
  box-shadow: 0 0 0 1px #000000;
  color: #B4A364 !important;
}

.btn-fdc.btn-fdc-dark:hover {
  color: #B4A364 !important;
}

.btn-fdc-outline {
  background-color: transparent;
}

.btn-fdc-outline:hover {
  background-color: rgba(0, 0, 0, 0.32);
}

.reserv-btn {
  position: relative;
  z-index: 20000;
  float: right;
  top: 5px;
  font-weight: 800 !important;
  font-size: 18px;
  background: #B4A365;
  display: inline-block;
  width: 130px;
  text-align: center;
  padding: .48em !important;
  letter-spacing: .04em;
  line-height: 1em !important;
  color: #f5f3eb !important;
  border: 2px solid rgba(0, 0, 0, 0.8);
  outline: #B4A365 solid 1px;
  text-transform: lowercase !important;
  text-decoration: none;
  font-family: MrsEavesXLSerifOT-Italic, serif;
}

.reserv-btn:hover {
  border: none;
  text-decoration: none;
}

.fdc-btn-gold {
  background: #c5b486;
  color: #F6F6F1;
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 54px;
  line-height: 54px;
  border-radius: .25rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 0 1px #c5b486;
  background-clip: padding-box;
  letter-spacing: .08em;
  transition: all .21s;
  border: none;
  outline: 0;
  margin-top: 10px 0;
  padding-left: 62.91px;
  padding-right: 62.91px;
  text-align: center;
}

.fdc-header {
  position: fixed;
  width: 100%;
  background-size: cover;
  z-index: 3000;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.fdc-header.no-top {
  background: rgba(0, 0, 0, 0.9);
}

.fdc-header.unpinned {
  webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.fdc-header.pinned {
  webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.9);
}

.fdc-header.top {
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, transparent 8%, rgba(0, 0, 0, 0.75) 80%);
  background-image: linear-gradient(to top, transparent 8%, rgba(0, 0, 0, 0.75) 80%);
  -webkit-transition: all .5s;
  transition: all .5s;
  box-shadow: 0 0 0 0 rgba(32, 39, 44, 0);
}

.fdc-header .top-nav {
  background-color: #000000;
  color: #c5b486;
  position: relative;
  height: 38px;
  line-height: 2em;
  padding: 0 5%;
  -webkit-transition: all .6s;
  transition: all .6s;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  border-bottom: 1px solid #453a37;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .fdc-header .top-nav {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .fdc-header .top-nav .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

.fdc-header .top-nav .nav-item .nav-link {
  color: #c5b486;
  font-family: MrsEavesXLSerifOT-Bold, serif;
}

@media screen and (min-width: 769px) {
  .fdc-header .top-nav .nav-item .nav-link {
    padding: .2em .25em;
  }
  .fdc-header .top-nav .nav-item .nav-link i {
    margin-right: .44em;
  }
}

.fdc-header .top-nav .top-nav-social {
  flex: 1;
}

.fdc-header .top-nav .top-nav-audience {
  padding-right: 10px;
  margin-left: 0;
  text-transform: uppercase;
}

.fdc-header .top-nav .top-nav-audience .nav-item {
  padding-right: 10px;
  line-height: 42px;
}

.fdc-header .top-nav .top-nav-audience .nav-item .nav-link {
  padding: .2em .5em;
  display: inline-block;
  line-height: 34px;
}

.fdc-header .top-nav .top-nav-audience .nav-item::after {
  content: ' | ';
  font-weight: 700;
  padding-left: 5px;
}

.fdc-header .top-nav .top-nav-audience .nav-item:nth-last-child(1)::after {
  display: none;
}

.fdc-header .main-nav {
  margin-top: .5rem;
  padding: 0 5%;
}

@media screen and (min-width: 769px) {
  .fdc-header .main-nav .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .fdc-header .main-nav {
    background-color: #000000;
    margin: 0;
    border-bottom: 1px solid #877a4f;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 768px) {
  .fdc-header .main-nav .logo .navbar-brand {
    font-family: AvenirLT-Heavy, sans-serif;
    color: #B4A364;
    font-size: 16px;
    font-size: 1rem;
    line-height: 16px;
  }
}

.fdc-header .main-nav .logo img {
  width: 180px;
  height: 41px;
}

@media screen and (max-width: 768px) {
  .fdc-header .main-nav .navbar-toggler {
    color: #B4A364;
  }
}

@mobile screen and (min-width : 769px) {
  .fdc-header .main-nav #mainNavContent {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .fdc-header .main-nav #mainNavContent {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 245px;
    right: -400px;
    opacity: 1;
    height: 100vh;
  }
  .fdc-header .main-nav #mainNavContent.open-nav {
    -webkit-animation-name: navOpen;
    -webkit-animation-duration: 1s;
    animation-name: navOpen;
    animation-duration: 1s;
    right: 0;
  }
  .fdc-header .main-nav #mainNavContent.close-nav {
    -webkit-animation-name: navClose;
    -webkit-animation-duration: 1s;
    animation-name: navClose;
    animation-duration: 1s;
    right: -400px;
  }
  .fdc-header .main-nav #mainNavContent ul {
    margin: 0 0 15px 48px;
  }
  .fdc-header .main-nav #mainNavContent .header {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .fdc-header .main-nav #mainNavContent .header {
    padding-top: 7px;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .fdc-header .main-nav #mainNavContent .header .logo {
    text-align: center;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .fdc-header .main-nav #mainNavContent .header .logo img {
    width: 130px;
    position: relative;
    left: 23px;
  }
}

@media screen and (max-width: 768px) {
  .fdc-header .main-nav #mainNavContent .header .closeNav {
    color: #c5b486;
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .fdc-header .main-nav #mainNavContent .header .closeNav {
    flex: 0 0 25%;
    flex-max-width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .fdc-header .main-nav #mainNavContent .header .closeNav .buttonClose {
    font-family: AvenirLT-Book, sans-serif;
    font-size: 1.5em;
    display: block;
    width: 44px;
    height: 44px;
  }
  .fdc-header .main-nav #mainNavContent .header .closeNav .buttonClose .sidr-close {
    width: 13px;
    height: 13px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .fdc-header .main-nav #mainNavContent .header .closeNav .buttonClose .sidr-close::before, .fdc-header .main-nav #mainNavContent .header .closeNav .buttonClose .sidr-close::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    top: 50%;
    left: 50%;
    background: #B4A365;
  }
  .fdc-header .main-nav #mainNavContent .header .closeNav .buttonClose .sidr-close::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .fdc-header .main-nav #mainNavContent .header .closeNav .buttonClose .sidr-close::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.fdc-header .main-nav #mainNavContent hr {
  height: 1px;
  background: #B4A365;
  border: none;
}

@media screen and (min-width: 769px) {
  .fdc-header .main-nav #mainNavContent hr {
    display: none;
  }
}

.fdc-header .main-nav #mainNavContent .social .navbar-nav {
  flex-direction: row;
  justify-content: space-around;
}

.fdc-header .main-nav #mainNavContent .social .navbar-nav a {
  font-size: 28px;
  font-size: 1.75rem;
}

.fdc-header .main-nav .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  line-height: 50px;
}

@media screen and (max-width: 768px) {
  .fdc-header .main-nav .navbar-nav .nav-item {
    line-height: 1.8em;
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
  }
}

.fdc-header .main-nav .navbar-nav .nav-item .nav-link {
  font-family: 'AvenirLT-Book', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  padding: 10px 10px 10px 9px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1em;
  color: #d4d1c3;
}

@media screen and (max-width: 768px) {
  .fdc-header .main-nav .navbar-nav .nav-item .nav-link {
    padding: 0;
    color: #B4A364;
    font-family: AvenirLT-Heavy, sans-serif;
    font-weight: 400;
    letter-spacing: normal;
  }
}

.fdc-header .main-nav .navbar-nav .nav-item .nav-link:hover {
  color: #c5b486;
}

@media screen and (min-width: 769px) {
  .fdc-header .main-nav .navbar-nav .nav-item::after {
    content: '\025FC ';
    color: #c5b486;
    font-size: 10px;
    font-size: 0.625rem;
  }
}

.fdc-header .main-nav .navbar-nav .nav-item:nth-last-child(1)::after {
  content: '';
}

@media screen and (max-width: 768px) {
  .fdc-header .main-nav #btnMobileMenu {
    position: fixed;
    right: 10px;
    /* top: 15px */
    font-size: 1.6em;
    color: #B4A365;
    display: block;
    width: 44px;
    height: 44px;
  }
  .fdc-header .main-nav #btnMobileMenu .sidr-open {
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #B4A365;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    right: 0;
    top: 0;
  }
  .fdc-header .main-nav #btnMobileMenu .sidr-open::before, .fdc-header .main-nav #btnMobileMenu .sidr-open::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #B4A365;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
  }
  .fdc-header .main-nav #btnMobileMenu .sidr-open::before {
    top: -5px;
  }
  .fdc-header .main-nav #btnMobileMenu .sidr-open::after {
    top: 5px;
  }
}

header#page-header {
  position: relative;
  width: 100%;
  height: 450px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #B4A364;
}

header#page-header.desktop {
  display: flex !important;
}

@media screen and (max-width: 768px) {
  header#page-header.desktop {
    display: none !important;
  }
}

header#page-header article {
  padding-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header#page-header article .page-titulo {
  font-family: AvenirLT-Medium, sans-serif;
  color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-size: 2rem;
}

@media screen and (min-width: 769px) {
  header#page-header article .page-titulo {
    margin-bottom: 40px;
  }
}

header#page-header article .page-titulo img {
  padding-left: 20px;
}

header#page-header article .page-titulo .page-title-pos2 {
  font-family: MrsEavesXLSerif, serif;
  font-size: 36px;
  font-size: 2.25rem;
  text-align: center;
  text-transform: none;
  margin-left: 10px;
  display: inline;
  padding-left: 10px;
}

@media screen and (min-width: 769px) {
  header#page-header article .title {
    margin: 30px 0;
  }
}

header#page-header article .page-subtitulo {
  color: #ffffff;
  font-size: 32px;
  font-size: 2rem;
}

header#page-header article .page-descricao {
  max-width: 525px;
  font-weight: 300;
  color: #ffffff;
  font-size: 30px;
  font-size: 1.875rem;
  font-family: MrsEavesXLSerif, serif;
  line-height: 30px;
}

.owl-dots .owl-dot span {
  background: 0 0;
  border: 2px solid #20272C !important;
  opacity: 1;
  width: 12px !important;
  height: 12px !important;
  background: rgba(0, 0, 0, 0) !important;
}

.owl-dots .owl-dot.active span {
  background: #000000 !important;
}

@media screen and (max-width: 768px) {
  header#page-header.mobile {
    height: 275px;
    top: 55px;
    margin-bottom: 55px;
  }
  header#page-header.mobile article {
    padding: 120px 10px 0;
  }
  header#page-header.mobile article .page-titulo {
    font-family: AvenirLT-Heavy, sans-serif;
  }
  header#page-header.mobile h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #eventos .container {
    padding: 0 2em;
  }
}

#eventos #orcamento {
  background-color: #F6F6F1 !important;
}

@media screen and (max-width: 768px) {
  #eventos #orcamento {
    padding: 15px 0 20px;
  }
}

@media screen and (max-width: 768px) {
  #eventos #orcamento .btn-fdc {
    width: 100%;
    white-space: normal;
    line-height: normal;
    height: auto;
    font-size: 14px;
    padding: 0 12px;
    line-height: 50px;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  #eventos #orcamento .container {
    text-align: center;
    max-width: 68em;
    padding: 0 50px;
  }
}

#eventos #orcamento .textwidget {
  font-size: 28px;
  font-size: 1.75rem;
  font-family: MrsEavesXLSerifOT-Italic, serif;
}

@media screen and (max-width: 768px) {
  #eventos #orcamento .textwidget {
    font-size: 16px;
    font-size: 1rem;
    text-align: left;
  }
}

#eventos #orcamento .textwidget p {
  margin: 0;
  line-height: 1.1em;
}

#eventos .group-events {
  list-style: none;
  padding: 40px 0;
  margin: 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  #eventos .group-events {
    flex-direction: column;
  }
}

#eventos .group-events li {
  padding: 15px 0 15px 4%;
  font-family: AvenirLT-Book, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #20272C;
  width: 100%;
  letter-spacing: .0625em;
  list-style-position: inside;
  text-indent: -1em;
}

@media screen and (max-width: 768px) {
  #eventos .group-events li {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 7px 15px 5px 14px;
    font-size: 11px;
    font-size: 0.6875rem;
  }
}

#eventos .group-events li::before {
  content: '\025FC ';
  color: #c5b486;
  font-size: 10px;
  font-size: .625rem;
  vertical-align: 2px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  #eventos .group-events li::before {
    margin-right: 5px;
  }
}

#eventos #area-grupos {
  border-top: 1px solid #c5b486;
  border-bottom: 2px solid #c5b486;
}

@media screen and (min-width: 769px) {
  #eventos #area-grupos .row {
    height: 438px;
    overflow: hidden;
  }
}

#eventos #area-grupos .area-grupos--contato h4 {
  font-family: AvenirLT-Book, sans-serif;
  font-size: 1.25em;
}

#eventos #area-grupos .area-grupos--contato h4 a {
  color: #877a4f;
  text-decoration: none;
}

#eventos #area-grupos .area-grupos--contato p {
  font-family: MrsEavesXLSerifOT-Italic, serif;
  font-size: 19.2px;
  font-size: 1.2rem;
}

#eventos #area-grupos .area-grupos--img img {
  width: 100%;
  max-width: 100%;
}

#eventos #area-grupos .area-grupos--content {
  font-family: AvenirLT-Black, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f0e0;
  color: #877a4f;
  padding: 2em 8em;
}

@media screen and (max-width: 768px) {
  #eventos #area-grupos .area-grupos--content {
    display: block;
    padding: 2em 2em;
  }
  #eventos #area-grupos .area-grupos--content .or {
    background: url(../images/gold.png) center center repeat-x;
    margin: 15px auto;
    text-align: center;
    font-family: MrsEavesXLSerifOT-Italic, serif;
    font-size: 20px;
    font-size: 1.25rem;
    max-width: 85%;
  }
  #eventos #area-grupos .area-grupos--content .or span {
    background: #B4A365;
    padding: 6px;
    border-radius: 25px;
    color: #F6F6F1;
  }
  #eventos #area-grupos .area-grupos--content .btn-group {
    width: 100%;
  }
  #eventos #area-grupos .area-grupos--content .btn-group .btn-fdc {
    font-family: AvenirLT-Medium, sans-serif;
    padding: 15px 25px 13px;
    width: 100%;
    background-color: #B4A365;
    color: #fff;
    border: 2px solid #efede7;
    outline: #B4A365 solid 1px;
    line-height: normal;
    font-size: 14px;
    font-size: 0.875rem;
  }
  #eventos #area-grupos .area-grupos--content .btn-group .btn-fdc a {
    color: #877a4f;
  }
  #eventos #area-grupos .area-grupos--content .btn-group .btn-fdc a i {
    color: #F6F6F1;
  }
}

#eventos #area-grupos .area-grupos--content h3 {
  font-weight: bold;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  #eventos #area-grupos .area-grupos--content h3 {
    font-size: 16px;
    font-size: 1rem;
  }
}

#eventos #area-grupos .area-grupos--content .area-grupos--descricao {
  font-family: MrsEavesXLSerif, serif;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
}

@media screen and (max-width: 768px) {
  #eventos #area-grupos .area-grupos--content .area-grupos--descricao {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

#eventos #depoimentos {
  background: url("../images/Merge-JHP-Ballet-Comp.jpg") center center no-repeat !important;
  background-size: cover !important;
  padding: 40px 0 !important;
  border-top: 2px solid #c5b486;
  border-bottom: 2px solid #c5b486;
}

@media screen and (max-width: 768px) {
  #eventos #depoimentos {
    background: #F6F6F1 !important;
  }
}

#eventos #depoimentos .depoimento {
  border: 1px solid #B4A365;
  -webkit-transform: skew(0deg);
  -ms-transform: skew(0deg);
  transform: skew(0deg);
  max-width: 270px;
  margin: 0 10px 20px;
  background-color: #f5f3eb;
}

@media screen and (min-width: 768px) {
  #eventos #depoimentos .depoimento {
    -webkit-transform: skew(-5deg);
    -ms-transform: skew(-5deg);
    transform: skew(-5deg);
  }
}

#eventos #depoimentos .depoimento article {
  min-height: 270px;
  border: none;
  outline: 0;
  -webkit-transform: skew(0deg);
  -ms-transform: skew(0deg);
  transform: skew(0deg);
  padding: 15px;
}

@media screen and (min-width: 768px) {
  #eventos #depoimentos .depoimento article {
    -webkit-transform: skew(5deg);
    -ms-transform: skew(5deg);
    transform: skew(5deg);
  }
}

#eventos #depoimentos .depoimento .depoimento-header {
  display: flex;
  align-items: flex-start;
}

#eventos #depoimentos .depoimento .depoimento-header .depoimento-header--image {
  box-shadow: inset 0 0 0 7px rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#eventos #depoimentos .depoimento .depoimento-header .depoimento-header--image img {
  border-radius: 100px;
  position: relative;
  z-index: -2;
  width: 100px;
  height: 100px;
}

#eventos #depoimentos .depoimento .depoimento-header .depoimento-header--title {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

#eventos #depoimentos .depoimento .depoimento-header .depoimento-header--title .title {
  text-transform: uppercase;
  color: #B4A364;
  text-align: left;
  text-transform: uppercase;
  font-family: AvenirLT-Book, sans-serif;
}

#eventos #depoimentos .depoimento .depoimento-header .depoimento-header--title .separator {
  width: 100%;
  max-width: 115px;
  float: left;
  margin: 20px 0;
  text-align: center;
}

#eventos #depoimentos .depoimento .depoimento-header .depoimento-header--title .separator hr {
  border: 1px solid #B4A365;
  border-bottom: none;
  background: 0 0;
  margin: 1px 0;
}

#eventos #depoimentos .depoimento .depoimento-content {
  display: block;
  clear: both;
  padding: 15px 0;
  line-height: 25px;
  font-family: MrsEavesXLSerif, serif;
  color: #20272C;
  text-align: center;
}

#eventos #beneficios {
  background: #F6F6F1;
}

@media screen and (min-width: 769px) {
  #eventos #beneficios .container {
    max-width: 68em;
  }
}

#eventos #beneficios article h2, #eventos #beneficios article h3 {
  font-family: AvenirLT-Medium, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  #eventos #beneficios article h2 {
    font-size: 15px;
    font-size: 0.9375rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) {
  #eventos #beneficios #owl-beneficios {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }
}

#eventos #beneficios #owl-beneficios .beneficio-column {
  border-top: 1px solid #B4A364;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 769px) {
  #eventos #beneficios #owl-beneficios .beneficio-column {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #eventos #beneficios #owl-beneficios .beneficio-column:nth-child(even) {
    border-left: 0.5px solid #B4A364;
  }
  #eventos #beneficios #owl-beneficios .beneficio-column:nth-child(odd) {
    border-right: 0.5px solid #B4A364;
  }
}

#eventos #beneficios #owl-beneficios .beneficio-column .beneficio-titulo {
  font-family: AvenirLT-Book, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  #eventos #beneficios #owl-beneficios .beneficio-column .beneficio-titulo {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: AvenirLT-Medium, sans-serif;
    font-weight: normal;
  }
}

#eventos #beneficios #owl-beneficios .beneficio-column .beneficio-descricao {
  font-family: MrsEavesXLSerif, serif;
  line-height: 26px;
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  #eventos #beneficios #owl-beneficios .beneficio-column .beneficio-descricao {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.25em;
  }
}

#eventos #beneficios #owl-beneficios .beneficio {
  padding: 20px;
  color: #877a4f;
}

@media screen and (min-width: 769px) {
  #eventos #beneficios .reconhecimento-section {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  #eventos #beneficios .reconhecimento-section {
    border-top: solid 1px #B4A365;
  }
}

#eventos #beneficios .reconhecimento-section .fdc-titulo h2 {
  font-size: 21px;
  font-size: 1.3125rem;
}

@media screen and (max-width: 768px) {
  #eventos #beneficios .reconhecimento-section .fdc-titulo h2 {
    margin: 2em 0;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: AvenirLT-Medium, sans-serif;
  }
}

#eventos #beneficios .reconhecimento-section .reconhecimento {
  text-align: center;
  color: #877a4f;
  min-height: 160px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #eventos #beneficios .reconhecimento-section .reconhecimento {
    min-height: 118px;
  }
}

#eventos #beneficios .reconhecimento-section .reconhecimento .reconhecimento-titulo {
  font-size: 32px;
  font-size: 2rem;
  font-family: MrsEavesXLSerif, serif;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  #eventos #beneficios .reconhecimento-section .reconhecimento .reconhecimento-titulo {
    font-size: 16px;
    font-size: 1rem;
  }
}

#eventos #beneficios .reconhecimento-section .reconhecimento .reconhecimento-titulo span {
  font-size: 42px;
  font-size: 2.625rem;
}

@media screen and (max-width: 768px) {
  #eventos #beneficios .reconhecimento-section .reconhecimento .reconhecimento-titulo span {
    font-size: 19px;
    font-size: 1.1875rem;
  }
}

#eventos #beneficios .reconhecimento-section .reconhecimento .reconhecimento-descricao {
  font-family: MrsEavesXLSerifOT-Italic, serif;
}

@media screen and (max-width: 768px) {
  #eventos #beneficios .reconhecimento-section .reconhecimento .reconhecimento-descricao {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 768px) {
  #eventos #beneficios .reconhecimento-section .reconhecimento .reconhecimento-descricao {
    font-size: 22px;
    font-size: 1.375rem;
    font-size: 1.375rem;
    max-width: 45%;
    margin: 0 auto;
    line-height: 1.35em;
  }
}

#eventos #fogo-mundo {
  background: url("../images/bg_group-dining-accountsProgram.jpg");
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  color: #f5f3eb;
  text-align: center;
  border-bottom: none !important;
  text-align: center;
  border-top: 4px solid #B4A365;
}

@media screen and (max-width: 768px) {
  #eventos #fogo-mundo {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  #eventos #fogo-mundo .fogo-artigo h2 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 800;
    margin: 3em auto 25px;
  }
}

@media screen and (max-width: 768px) {
  #eventos #fogo-mundo .fogo-artigo p {
    display: none;
  }
}

#eventos #fogo-mundo .tile {
  margin-bottom: 0;
}

#eventos #fogo-mundo .fogo-contato p {
  border: none;
  font-size: 19px;
  font-size: 1.1875rem;
  font-family: AvenirLT-Medium, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  #eventos #fogo-mundo .fogo-contato p {
    display: none;
  }
}

#eventos #fogo-mundo .fogo-contato p a {
  font-family: MrsEavesXLSerif, serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  font-size: 1.5rem;
}

#eventos #fogo-mundo .contact-info {
  color: white;
  font-family: MrsEavesXLSerif, serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  #eventos #fogo-mundo .contact-info {
    display: none;
  }
}

#eventos #fogo-mundo .contact-info-mobile {
  margin: 2.5em 0 1em;
}

@media screen and (min-width: 769px) {
  #eventos #fogo-mundo .contact-info-mobile {
    display: none;
  }
}

#eventos #fogo-mundo .contact-info-mobile .btn-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#eventos #fogo-mundo .contact-info-mobile .btn-group .btn-fdc {
  font-size: 24px;
  font-size: 1.5rem;
  border: 3px solid rgba(180, 163, 101, 0.01);
}

#eventos #fogo-mundo hr {
  border-color: #B4A364;
  color: #B4A364;
}

@media screen and (max-width: 768px) {
  #eventos #fogo-mundo hr {
    display: none;
  }
}

#eventos #fogo-mundo h5 {
  color: #ffffff;
}

#eventos #fogo-mundo a {
  color: #ffffff;
}

footer#footer_fogo {
  background-color: #003a53;
  z-index: 10;
  position: relative;
}

@media screen and (max-width: 768px) {
  footer#footer_fogo {
    border-top: 1px solid #c5b486;
  }
}

footer#footer_fogo .footer_info_fogo {
  color: #b4a268;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 13px 10px;
  display: block;
  position: relative;
  margin-bottom: 20px;
  background-color: #003248;
  margin: 0;
}

footer#footer_fogo .footer_info_fogo article {
  max-width: 68em;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  footer#footer_fogo .footer_info_fogo article {
    flex-direction: column;
  }
}

footer#footer_fogo .footer_info_fogo article p {
  font-size: 20px;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin: 0 1em;
}

@media screen and (max-width: 768px) {
  footer#footer_fogo .footer_info_fogo article p {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 769px) {
  footer#footer_fogo .footer_info_fogo article p.desktop {
    display: flex !important;
  }
}

footer#footer_fogo .footer_info_fogo article p span {
  display: inline-block;
  padding-right: 5px;
  font-family: MrsEavesXLSerifOT-Italic, serif;
  font-size: 24px;
  font-size: 1.5rem;
}

footer#footer_fogo .footer_info_fogo article p .btn-fdc {
  height: auto;
  display: inline-block;
  margin: 0 15px;
  font-family: AvenirLT-Heavy, sans-serif;
  color: #b4a268;
  background-color: #003a53;
  margin: 10px;
  font-size: 14px;
  border: 1px solid #b4a268;
  box-shadow: none;
  display: block;
  text-align: center;
  padding: 7px 35px;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: normal;
}

@media screen and (max-width: 768px) {
  footer#footer_fogo .footer_info_fogo article p .btn-fdc {
    width: 100%;
    margin: 5px 0;
    padding: 12px 0;
  }
}

footer#footer_fogo .footer_info_fogo article p .btn-fdc:hover {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #b4a268 !important;
  color: #b4a268 !important;
}

footer#footer_fogo .footer_info_fogo article p .btn-fdc .lowercase {
  padding: 0;
  font-family: AvenirLT-Heavy, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: none;
}

footer#footer_fogo .footer_menu_fogo {
  position: relative;
  padding: 25px 0 50px;
}

@media screen and (max-width: 768px) {
  footer#footer_fogo .footer_menu_fogo {
    padding: 20px 0 25px;
  }
}

@media screen and (max-width: 768px) {
  footer#footer_fogo .footer_menu_fogo .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

footer#footer_fogo .footer_menu_fogo .navbar-nav .nav-item {
  line-height: 50px;
}

footer#footer_fogo .footer_menu_fogo .navbar-nav .nav-item .nav-link {
  color: #d4d1c3;
  margin: 0 15px 0 0;
  padding: 4px 20px 0 0;
  background: url(../img/icon_square5.png) right center no-repeat;
  text-transform: uppercase;
  text-decoration: none;
  font-family: MrsEavesXLSerif, serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25em;
  font-weight: 700;
  letter-spacing: 0.08em;
}

@media screen and (max-width: 768px) {
  footer#footer_fogo .footer_menu_fogo .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: normal;
  }
}

footer#footer_fogo .footer_menu_fogo .navbar-nav .nav-item:nth-last-child(1) .nav-link {
  background: none;
}

footer#footer_fogo .footer_copyright_fogo {
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  footer#footer_fogo .footer_copyright_fogo {
    padding: 0 0 3em;
  }
}

@media screen and (min-width: 769px) {
  footer#footer_fogo .footer_copyright_fogo .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) {
  footer#footer_fogo .footer_copyright_fogo .col {
    flex-basis: auto;
    width: 25%;
    padding: 0;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  footer#footer_fogo .footer_copyright_fogo .fdc-copyright {
    font-size: 12px;
    font-size: 0.75rem;
    width: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  footer#footer_fogo .footer_copyright_fogo .fdc-copyright {
    text-align: center;
  }
}

footer#footer_fogo .footer_copyright_fogo p {
  color: #d4d1c3;
  margin: 0;
}

footer#footer_fogo .footer_copyright_fogo .logo-copyright img {
  width: 120px;
  height: 32px;
}

footer#footer_fogo .footer_copyright_fogo .social-fogo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  aling-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
}

footer#footer_fogo .footer_copyright_fogo .social-fogo li {
  padding: .15rem .25rem;
}

footer#footer_fogo .footer_copyright_fogo .social-fogo li a {
  font-size: 19px;
  font-size: 1.1875rem;
  color: #B4A364;
}
